@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #eff2f1;
}

nav{
    background-color: #3b5d50;
}

.navigation{
    font-size: 14px;
}

.hero{
    height: 600px;
    background-color: #3b5d50;

}

.hero button{
    padding: 12px 30px;
}

.hero-image::after{
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url(images/dots-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 50px;
}

.why-choose-section {
    padding: 7rem 0; 
}

.why-choose-section p {
    font-size: 14px;
}

.why-choose-section .img-wrap {
    position: relative; 
}

.why-choose-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url("../images/dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1; 
}

.why-choose-section .img-wrap img {
    border-radius: 20px;
}

.feature {
    margin-bottom: 30px; 
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px; 
}

.feature .icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0; 
}
    
.feature h3 {
    font-size: 14px;
}

  .feature p {
    font-size: 14px;
    line-height: 22px; 
}

.we-help-section {
    padding: 7rem 0; 
}

.we-help-section .imgs-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(27, 1fr);
    position: relative; 
}

.we-help-section .imgs-grid:before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("../images/dots-green.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
      transform: translate(-40%, -40%);
      z-index: -1; 
}

.we-help-section .imgs-grid .grid {
      position: relative; 
}

.we-help-section .imgs-grid .grid img {
        border-radius: 20px;
        max-width: 100%; 
}

.we-help-section .imgs-grid .grid.grid-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 18;
        grid-column: 1 / span 18;
        -ms-grid-row: 1;
        -ms-grid-row-span: 27;
        grid-row: 1 / span 27; 
}

.we-help-section .imgs-grid .grid.grid-2 {
        -ms-grid-column: 19;
        -ms-grid-column-span: 27;
        grid-column: 19 / span 27;
        -ms-grid-row: 1;
        -ms-grid-row-span: 5;
        grid-row: 1 / span 5;
        padding-left: 20px; 
}

.we-help-section .imgs-grid .grid.grid-3 {
        -ms-grid-column: 14;
        -ms-grid-column-span: 16;
        grid-column: 14 / span 16;
        -ms-grid-row: 6;
        -ms-grid-row-span: 27;
        grid-row: 6 / span 27;
        padding-top: 20px;
}

.we-help-section p {
    font-size: 14px;
}

.custom-list {
    width: 100%;
}

.custom-list li {
    display: inline-block;
    width: calc(50% - 20px);
    margin-bottom: 12px;
    line-height: 1.5;
    position: relative;
    padding-left: 20px; 
    font-size: 14px;
}

.custom-list li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #3b5d50;
    position: absolute;
    left: 0;
    top: 8px; 
}

.best-products img{
    background-color: #dce5e4;
    border-radius: 20px;
    background-size: 50px 50px;
}

.best-products  p{
    font-size: 14px;
}

.best-products .card-body p{
    font-size: 14px;
}

.blog img {
    height: 215px;
    object-fit: cover;
}

.blog h6{
    font-size: 14px;
}

.blog p{
    font-size: 13px;
}

.footer-section {
    margin-top:180px ;
    padding: 80px 0;
    background: #ffffff; 
}

.footer-section .relative {
    position: relative; 
}

.footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}

.footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px; 
}

@media (min-width: 992px) {
    .footer-section .subscription-form {
        margin-top: 0px;
        margin-bottom: 80px; } 
}
.footer-section .subscription-form h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3b5d50; 
}

.footer-section .subscription-form .form-control {
      height: 50px;
      border-radius: 10px;
}

.footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); 
}

.footer-section .subscription-form .form-control::-webkit-input-placeholder {
    font-size: 14px; 
}

.footer-section .subscription-form .form-control::-moz-placeholder {
    font-size: 14px;
}

.footer-section .subscription-form .form-control:-ms-input-placeholder {
        font-size: 14px; 
}

.footer-section .subscription-form .form-control:-moz-placeholder {
    font-size: 14px; }


.footer-section .subscription-form .btn {
      border-radius: 10px; 
}

.subscription-form .plane{
    background-color: #3b5d50;
    align-items: center;
}

.subscription-form .plane span{
    color:white;
}
      
.footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0; 
}

.footer-section .sofa-img img {
      max-width: 380px; 
}

.footer-section .links-wrap {
    margin-top: 0px; }
    
@media (min-width: 992px) {
    .footer-section .links-wrap {
    margin-top: 54px; } 
}

.footer-section .links-wrap ul li {
      margin-bottom: 10px; 
}

.footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50; }

.footer-section .custom-social li {
    margin: 2px;
    display: inline-block;
}

.footer-section .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #dce5e4;
    color: #3b5d50;
    border-radius: 50%; }

.footer-section .border-top {
    border-color: #dce5e4; 
}

.footer-section .border-top.copyright {
    font-size: 14px; 
}

.untree_co-section {
  padding: 7rem 0; 
}



